/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color: rgb(241, 199, 208);
}
.principal{
   display: flex;
     
}
body{
    background-image: url("fondomadera.jpg");
    background-size: cover;
    background-repeat: repeat;
    

}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}

.titulo{
font-size: 80px;
color: rgb(175, 76, 76);
text-align: center;
}
.imgt1{
height: 150px;
width: 300px;
background-image: url("circuito.jpeg");
background-repeat: no-repeat;
float: center;

}

.imgb1{

height: 150px;
width: 300px;
background-image: url("circuito.jpeg");
background-repeat: no-repeat;
float: center;
}

.titulo{
font-size: 100px;
color: rgb(207, 81, 81) ;
text-align: center;
}

.imagen{
height: 200px;
width: 400px;
background-image: url("imagen1.png");
background-repeat: no-repeat;
float: center;

}

.imagen2{
height: 200px;
width: 400px;
background-image: url("imagen2.png");
background-repeat: no-repeat;
float: center;
    
}

.imagen3{
height: 250px;
width: 400px;
background-image: url("imagen3.png");
background-repeat: no-repeat;
float: center;
        
}

.imagen4{
height: 250px;
width: 400px;
background-image: url("imagen4.png");
background-repeat: no-repeat;
float: center;
            
}

.imagen5{
height: 250px;
width: 400px;
background-image: url("imagen5.png");
background-repeat: no-repeat;
float: center;
                
}

.imagen6{
height: 250px;
width: 350px;
background-image: url("imagen6.png");
background-repeat: no-repeat;
float: center;
                    
}

.imagen7{
height: 250px;
width: 400px;
background-image: url("imagen7.png");
background-repeat: no-repeat;
float: center;
                        
}

.imagen8{
height: 250px;
width: 350px;
background-image: url("imagen8.png");
background-repeat: no-repeat;
float: center;
                        
}

.imagen9{
height: 250px;
width: 350px;
background-image: url("imagen9.png");
background-repeat: no-repeat;
float: center;
                            
    }

.imagen10{
height: 250px;
width: 350px;
background-image: url("imagen10.png");
background-repeat: no-repeat;
float: center;
                                
}

.imagen11{
height: 250px;
width: 350px;
background-image: url("imagen11.png");
background-repeat: no-repeat;
float: center;
                                    
}

.imagen12{
height: 250px;
width: 350px;
background-image: url("imagen12.png");
background-repeat: no-repeat;
float: center;
                                        
}

.imagen13{
height: 250px;
width: 350px;
background-image: url("imagen13.png");
background-repeat: no-repeat;
float: center;
                                            
}

.imagen14{
height: 320px;
width: 400px;
background-image: url("imagen14.png");
background-repeat: no-repeat;
float: center;
                                                
}

.imagen15{
height: 300px;
width: 350px;
background-image: url("imagen15.png");
background-repeat: no-repeat;
float: center;
                                                    
}

.imagen16{
height: 320px;
width: 400px;
background-image: url("imagen16.png");
background-repeat: no-repeat;
float: center;
                                                        
}

.imagen17{
height: 320px;
width: 400px;
background-image: url("imagen17.png");
background-repeat: no-repeat;
float: center;
                                                            
}

.imagen18{
height: 320px;
width: 400px;
background-image: url("imagen18.png");
background-repeat: no-repeat;
float: center;
                                                                
}

.imagen19{
height: 320px;
width: 400px;
background-image: url("imagen19.png");
background-repeat: no-repeat;
float: center;
                                                                
}

.imagen20{
height: 320px;
width: 400px;
background-image: url("imagen20.png");
background-repeat: no-repeat;
float: center;
                                                                    
}

.imagen21{
height: 320px;
width: 400px;
background-image: url("imagen21.png");
background-repeat: no-repeat;
float: center;
                                                                        
}

.imagen22{
height: 320px;
width: 400px;
background-image: url("imagen22.png");
background-repeat: no-repeat;
float: center;
                                                                            
}

.imagen23{
height: 320px;
width: 800px;
background-image: url("imagen23.png");
background-repeat: no-repeat;
float: center;
                                                                                
}

.imagen24{
height: 320px;
width: 800px;
background-image: url("imagen24.png");
background-repeat: no-repeat;
float: center;
                                                                                    
}

.imagen25{
height: 320px;
width: 800px;
background-image: url("imagen25.png");
background-repeat: no-repeat;
float: center;
                                                                                        
}

.imagen26{
height: 320px;
width: 800px;
background-image: url("imagen26.png");
background-repeat: no-repeat;
float: center;
                                                                                            
}

.imagen27{
height: 320px;
width: 800px;
background-image: url("imagen27.png");
background-repeat: no-repeat;
float: center;
                                                                                                
}

.imagen28{
height: 320px;
width: 800px;
background-image: url("imagen28.png");
background-repeat: no-repeat;
float: center;
                                                                                                    
}

.imagen29{
height: 320px;
width: 800px;
background-image: url("imagen29.png");
background-repeat: no-repeat;
float: center;
                                                                                                        
}

.imagen30{
height: 320px;
width: 800px;
background-image: url("imagen30.png");
background-repeat: no-repeat;
float: center;
                                                                                                            
}

.imagen31{
height: 320px;
width: 800px;
background-image: url("imagen31.png");
background-repeat: no-repeat;
float: center;
                                                                                                                
}

.imagen32{
height: 420px;
width: 600px;
background-image: url("imagen32.png");
background-repeat: no-repeat;
float: center;
                                                                                                                    
}

.imagen33{
height: 320px;
width: 800px;
background-image: url("imagen33.png");
background-repeat: no-repeat;
float: center;
                                                                                                                        
}

.imagen34{
height: 320px;
width: 800px;
background-image: url("imagen34.png");
background-repeat: no-repeat;
float: center;
                                                                                                                            
}
    
.imagen35{
height: 420px;
width: 850px;
background-image: url("imagen35.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                
}

.imagen36{
height: 320px;
width: 800px;
background-image: url("imagen36.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                    
}

.imagen37{
height: 320px;
width: 800px;
background-image: url("imagen37.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                        
}

.imagen37{
    height: 320px;
    width: 800px;
    background-image: url("imagen37.png");
    background-repeat: no-repeat;
    float: center;
                                                                                                                                            
    }

.imagen38{
height: 320px;
width: 800px;
background-image: url("imagen38.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                
}

.imagen39{
height: 320px;
width: 800px;
background-image: url("imagen39.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                    
}

.imagen40{
height: 320px;
width: 600px;
background-image: url("imagen40.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                        
}

.imagen41{
height: 320px;
width: 500px;
background-image: url("imagen41.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                            
}

.imagen42{
height: 320px;
width: 800px;
background-image: url("imagen42.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                                
}

.imagen43{
height: 320px;
width: 800px;
background-image: url("imagen43.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                                    
}

.imagen44{
height: 320px;
width: 800px;
background-image: url("imagen44.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                                        
}

.imagen45{
height: 320px;
width: 800px;
background-image: url("imagen45.png");
background-repeat: no-repeat;
float: center;
                                                                                                                                                                            
}